.Home {
	.logo {
		margin-left:-33px;
		color: $logan;
		.glyphicon{
			margin-right: -23px;
			font-size:40px;
		}
	}

	.lander {
	  padding: 30px 0;
	  text-align: center;

	  h1 {
		  font-weight: 600;
		}

		p {
		  color: $mulledwine;
		}
	}
}